@import "../assets/styles/variables";

$font-color: $white;

.demo-container {
  height: 100vh;
  display: flex;

  &-common {
    flex: 1;
    background: rgba(131, 20, 157, 1);
    background: linear-gradient(to bottom, rgba(131, 20, 157, 1) 0%, rgba(35, 23, 110, 1) 50%, rgba(17, 23, 103, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      color: $font-color;
      font-size: 100px;
      margin: 0;
    }

    &-logo {
      display: flex;
      align-items: center;

      span {
        color: $font-color;
        font-size: 90px;
        margin-left: 30px;
      }
    }
  }

  &-content {
    flex: 2;
  }
}
